.profile__button-edit {
	position: absolute;
	right: 0px;
	bottom: 6px;
	padding: 4px;
	border: solid 1px #fff;
	box-sizing: border-box;
	width: 18px;
	height: 18px;
	background: url(../../../images/Button-Edit-Profile.svg);
	background-size: cover;
	background-origin: content-box;
	background-repeat: no-repeat;
	opacity: 1;
}

@media (min-width: 600px) {
	.profile__button-edit {
		padding: 6px;
		right: 6px;
		bottom: 14px;
		width: 24px;
		height: 24px;
	}
}

.profile__button-edit:hover {
	opacity: 0.6;
}
