.profile__button-edit {
	padding: 4px;
	border: solid 1px #fff;
	box-sizing: border-box;
	width: 18px;
	height: 18px;
	background: url(../../../images/Button-Edit-Profile.svg);
	background-size: cover;
	background-origin: content-box;
	background-repeat: no-repeat;
	opacity: 1;
	grid-area: btn-edit;
}

@media (min-width: 700px) {
	.profile__button-edit {
		margin-bottom: 9px;
		padding: 6px;
		width: 24px;
		height: 24px;
	}
}

.profile__button-edit:hover {
	opacity: 0.6;
}
