.popup_opened {
	visibility: visible;
	opacity: 1;
}

/* .popup_opened {
	display: flex;
	justify-content: center;
	align-items: center;
	animation: invisibleVisible 1s ease-out;
}

@keyframes invisibleVisible {
	0% {
		display: none;
		opacity: 0;
	}
	1% {
		display: flex;
		opacity: 0;
	}
	100% {
		display: flex;
		opacity: 1;
	}
} */
