.profile__name {
	margin: 0;
	overflow: hidden;
	white-space: nowrap;
	font-weight: 500;
	font-size: 27px;
	line-height: 33px;
	text-align: start;
	text-overflow: ellipsis;
	text-rendering: optimizeLegibility;
}

@media (min-width: 700px) {
	.profile__name {
		font-size: 42px;
		line-height: 48px;
	}
}
